* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

/* --- GLOBAL SELECTION DISABLE --- */
* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Estándar */
    -webkit-tap-highlight-color: transparent; /* Elimina el flash azul en móviles */
}

/* Permitir selección EXCLUSIVAMENTE en inputs y áreas editables */
input, textarea, [contenteditable="true"] {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: var(--bg-app);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    overflow: hidden;
    overscroll-behavior: none;
}

.hidden {
    display: none !important;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background-color: #444; border-radius: 3px; }
::-webkit-scrollbar-track { background: transparent; }