/* --- AVATARES --- */
.avatar-circle {
    width: 40px;
    height: 40px;
    background-color: #4a4a4a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    font-size: 20px;
    flex-shrink: 0;
    
    /* IMPORTANTE: Para posicionar el estado dentro/encima */
    position: relative; 
}
.main-avatar { background-color: #555; }

/* Perfil Usuario Logueado */
.avatar-circle.has-image {
    background-color: transparent;
    border: 1px solid var(--border-color);
}
#user-profile { cursor: pointer; transition: opacity 0.2s; }
#user-profile:hover { opacity: 0.8; }
#default-user-icon { font-size: 18px; color: var(--text-secondary); }

/* --- INDICADOR DE ESTADO (NUEVO) --- */
.status-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--bg-sidebar); /* Borde del color del fondo para efecto de corte */
    z-index: 10;
}

/* Colores de Estado */
.status-online {
    background-color: #22c55e; /* Verde activo */
}
.status-away {
    background-color: #eab308; /* Amarillo inactivo */
}
.status-offline {
   background-color: #9ca3af; /* gray */
}